@model SistemaClinica.Models.ListExamsModel

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Excluir Exames</h1>

<div>
    <h4>Deseja excluir esses Exames?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exams)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exams.NameExams)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger m-1" />
        <a class="btn btn-danger  m-1" asp-action="Index"> Voltar </a>
    </form>
</div>
