@model SistemaClinica.Models.HealthPlanModel

@{
    ViewData["Title"] = "Criar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastrar</h1>

<h4>Cadastrar novo Plano de Saude</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card">
                <div class="card-header">Dados Pessoais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="NameCompany" class="control-label"></label>
                            <input asp-for="NameCompany" class="form-control" />
                            <span asp-validation-for="NameCompany" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">

                        <div class="form-group">
                            <label asp-for="CNPJ" class="control-label"></label>
                            <input asp-for="CNPJ" class="form-control" />
                            <span asp-validation-for="CNPJ" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Dados de Contato</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Telephone" class="control-label"></label>
                            <input asp-for="Telephone" class="form-control" />
                            <span asp-validation-for="Telephone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header">Endereço</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="ZipCod" class="control-label"></label>
                            <input asp-for="ZipCod" id="cep" onblur="CarregarEndereco()" class="form-control" />
                            <span asp-validation-for="ZipCod" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Street" class="control-label"></label>
                            <input asp-for="Street" id="rua" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Number" class="control-label"></label>
                            <input asp-for="Number" class="form-control" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="District" class="control-label"></label>
                            <input asp-for="District" id="bairro" class="form-control" />
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" id="cidade" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" id="uf" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value=" Cadastrar " class="btn btn-primary m-1" />
                <a class="btn btn-danger  m-1" asp-action="Index"> Voltar </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
