@model SistemaClinica.Models.HealthPlanModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Plano de Saude</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="card">
                <div class="card-header">Dados</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="NameCompany" class="control-label"></label>
                            <input asp-for="NameCompany" class="form-control" />
                            <span asp-validation-for="NameCompany" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">

                        <div class="form-group">
                            <label asp-for="CNPJ" class="control-label"></label>
                            <input asp-for="CNPJ" class="form-control" />
                            <span asp-validation-for="CNPJ" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Dados de Contato</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Telephone" class="control-label"></label>
                            <input asp-for="Telephone" class="form-control" />
                            <span asp-validation-for="Telephone" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card">
                <div class="card-header">Endereço</div>
                <div class="card-body row">
                    <div class="col-md">

                        <div class="form-group">
                            <label asp-for="ZipCod" class="control-label"></label>
                            <input asp-for="ZipCod" class="form-control" />
                            <span asp-validation-for="ZipCod" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Street" class="control-label"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Number" class="control-label"></label>
                            <input asp-for="Number" class="form-control" />
                            <span asp-validation-for="Number" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md">

                        <div class="form-group">
                            <label asp-for="District" class="control-label"></label>
                            <input asp-for="District" class="form-control" />
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="State" class="control-label"></label>
                            <input asp-for="State" class="form-control" />
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>

                    </div>
                </div>
            </div>


            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <br />
                <input type="submit" value="Salvar" class="btn btn-primary m-1" />
                <a class="btn btn-danger  m-1" asp-action="Index"> Voltar </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
